h1 {
    text-align: center;
    text-decoration: purple;
}

body {
    background-color: thistle;
}

#important {
    background-color: rgba(0, 128, 0, 0.212);
    text-decoration: orchid;
    text-align: center;
}

.first {
    background-color: papayawhip;
    text-decoration: plum;
    text-align: center;
}

.second {
    background-color: powderblue;
    text-decoration: purple;
    text-align: center;
}